<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589081321780-lhj115nt3gnoin3mtu3ghol1jbfk2t79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589081321780-lhj115nt3gnoin3mtu3ghol1jbfk2t79</string>
	<key>API_KEY</key>
	<string>AIzaSyCUnWRK0w1-pbi2ROmIVaNtUGdGo2-q7l0</string>
	<key>GCM_SENDER_ID</key>
	<string>589081321780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reflex</string>
	<key>PROJECT_ID</key>
	<string>reflex-b4b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>reflex-b4b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589081321780:ios:72d0dfda5ea38f7c864561</string>
</dict>
</plist>